<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Converter</title>
</head>
<body>
<h1>Converter</h1>

<form method="POST" id="conversion-form">
    <label for="conversion-type">Conversion Type:</label>
    <select id="conversion-type" name="conversionType">
        <option value="inchesToCm" <% if (conversionType === 'inchesToCm') { %>selected<% } %>>Inches to Centimeters</option>
        <option value="cmToInches" <% if (conversionType === 'cmToInches') { %>selected<% } %>>Centimeters to Inches</option>
        <option value="axPlusB" <% if (conversionType === 'axPlusB') { %>selected<% } %>>AX + B</option>
    </select>

    <% if (conversionType === 'inchesToCm') { %>
        <h2>Inches to Centimeters:</h2>
        <label for="inches">Inches:</label>
        <input type="text" id="inches" name="inches" required>
    <% } else if (conversionType === 'cmToInches') { %>
        <h2>Centimeters to Inches:</h2>
        <label for="cm">Centimeters:</label>
        <input type="text" id="cm" name="cm" required>
    <% } else if (conversionType === 'axPlusB') { %>
        <h2>AX + B:</h2>
        <label for="a">A:</label>
        <input type="text" id="a" name="a" required>
        <label for="b">B:</label>
        <input type="text" id="b" name="b" required>
    <% } %>

    <button type="submit">Convert</button>
</form>

<% if (result !== null) { %>
    <h3>Conversion Result:</h3>
    <% if (conversionType === 'inchesToCm') { %>
        <p>Inches: <%= result.inputValue %> <%= inchesToCmInputUnit %></p>
        <p>Centimeters: <%= result.outputValue %> <%= inchesToCmOutputUnit %></p>
    <% } else if (conversionType === 'cmToInches') { %>
        <p>Centimeters: <%= result.inputValue %> <%= cmToInchesInputUnit %></p>
        <p>Inches: <%= result.outputValue %> <%= cmToInchesOutputUnit %></p>
    <% } else if (conversionType === 'axPlusB') { %>
        <p><%= a %> vahemaa <%= result.inputValue %> <%= axPlusBInputUnit %> = <%= result.outputValue.toFixed(2) %> hind <%= axPlusBOutputUnit %></p>
    <% } %>
<% } %>

<script>
    const conversionForm = document.getElementById('conversion-form');
    const conversionTypeDropdown = document.getElementById('conversion-type');
    conversionTypeDropdown.addEventListener('change', function () {
        conversionForm.submit();
    });
</script>
</body>
</html>
